.tNHL-NJD {
  color: #000000;
  background-color: #ce1126;
}

.tNHL-NYI {
  color: #00539b;
  background-color: #f47d30;
}

.tNHL-NYR {
  color: #0033a0;
  background-color: #c8102e;
}

.tNHL-PHI {
  color: #000000;
  background-color: #f74902;
}

.tNHL-PIT {
  color: #000000;
  background-color: #fcb514;
}

.tNHL-BOS {
  color: #000000;
  background-color: #ffb81c;
}

.tNHL-BUF {
  color: #ffb81c;
  background-color: #003087;
}

.tNHL-MTL {
  color: #af1e2d;
  background-color: #192168;
}

.tNHL-OTT {
  color: #b79257;
  background-color: #da1a32;
}

.tNHL-TOR {
  color: #ffffff;
  background-color: #00205b;
}

.tNHL-CAR {
  color: #ffffff;
  background-color: #ce1126;
}

.tNHL-FLA {
  color: #041e42;
  background-color: #c8102e;
}

.tNHL-TBL {
  color: #ffffff;
  background-color: #002868;
}

.tNHL-WSH {
  color: #c8102e;
  background-color: #041e42;
}

.tNHL-CHI {
  color: #000000;
  background-color: #cf0a2c;
}

.tNHL-DET {
  color: #ffffff;
  background-color: #ce1126;
}

.tNHL-NSH {
  color: #ffb81c;
  background-color: #041e42;
}

.tNHL-STL {
  color: #fcb514;
  background-color: #0000ff;
}

.tNHL-CGY {
  color: #faaf19;
  background-color: #d2001c;
}

.tNHL-COL {
  color: #a2aaad;
  background-color: #6f263d;
}

.tNHL-EDM {
  color: #ff4c00;
  background-color: #041e42;
}

.tNHL-VAN {
  color: #00843d;
  background-color: #00205b;
}

.tNHL-ANA {
  color: #000000;
  background-color: #f47a38;
}

.tNHL-DAL {
  color: #8f8f8c;
  background-color: #006847;
}

.tNHL-LAK {
  color: #a2aaad;
  background-color: #111111;
}

.tNHL-SJS {
  color: #ea7200;
  background-color: #006d75;
}

.tNHL-CBJ {
  color: #ce1126;
  background-color: #002654;
}

.tNHL-MIN {
  color: #a6192e;
  background-color: #154734;
}

.tNHL-WPG {
  color: #55565a;
  background-color: #041e42;
}

.tNHL-UTA {
  color: #090909;
  background-color: #71afe5;
}

.tNHL-ARI {
  color: #e2d6b5;
  background-color: #8c2633;
}

.tNHL-VGK {
  color: #b4975a;
  background-color: #333f42;
}

.tNHL-SEA {
  color: #99d9d9;
  background-color: #001628;
}

.tNFL-ARI {
  color: #a4113e;
  background-color: #ffffff;
}

.tNFL-ATL {
  color: #a71930;
  background-color: #000000;
}

.tNFL-BAL {
  color: #29126f;
  background-color: #000000;
}

.tNFL-BUF {
  color: #00338d;
  background-color: #d50a0a;
}

.tNFL-CAR {
  color: #0085ca;
  background-color: #000000;
}

.tNFL-CHI {
  color: #0b1c3a;
  background-color: #e64100;
}

.tNFL-CIN {
  color: #fb4f14;
  background-color: #000000;
}

.tNFL-CLE {
  color: #472a08;
  background-color: #ff3c00;
}

.tNFL-DAL {
  color: #002a5c;
  background-color: #b0b7bc;
}

.tNFL-DEN {
  color: #0a2343;
  background-color: #fc4c02;
}

.tNFL-DET {
  color: #0076b6;
  background-color: #bbbbbb;
}

.tNFL-GB {
  color: #204e32;
  background-color: #ffb612;
}

.tNFL-HOU {
  color: #00143f;
  background-color: #c41230;
}

.tNFL-IND {
  color: #003b75;
  background-color: #ffffff;
}

.tNFL-JAX {
  color: #007487;
  background-color: #d7a22a;
}

.tNFL-KC {
  color: #e31837;
  background-color: #ffb612;
}

.tNFL-LV {
  color: #000000;
  background-color: #a5acaf;
}

.tNFL-LAC {
  color: #0080c6;
  background-color: #ffc20e;
}

.tNFL-LAR {
  color: #003594;
  background-color: #ffd100;
}

.tNFL-MIA {
  color: #008e97;
  background-color: #fc4c02;
}

.tNFL-MIN {
  color: #4f2683;
  background-color: #ffc62f;
}

.tNFL-NE {
  color: #002a5c;
  background-color: #c60c30;
}

.tNFL-NO {
  color: #d3bc8d;
  background-color: #000000;
}

.tNFL-NYG {
  color: #003c7f;
  background-color: #c9243f;
}

.tNFL-NYJ {
  color: #115740;
  background-color: #ffffff;
}

.tNFL-PHI {
  color: #06424d;
  background-color: #000000;
}

.tNFL-PIT {
  color: #000000;
  background-color: #ffb612;
}

.tNFL-SF {
  color: #aa0000;
  background-color: #b3995d;
}

.tNFL-SEA {
  color: #002a5c;
  background-color: #69be28;
}

.tNFL-TB {
  color: #bd1c36;
  background-color: #3e3a35;
}

.tNFL-TEN {
  color: #4b92db;
  background-color: #002a5c;
}

.tNFL-WSH {
  color: #5a1414;
  background-color: #ffb612;
}

.tNBA-ATL {
  color: #c8102e;
  background-color: #fdb927;
}

.tNBA-BOS {
  color: #008348;
  background-color: #ffffff;
}

.tNBA-BKN {
  color: #000000;
  background-color: #ffffff;
}

.tNBA-CHA {
  color: #008ca8;
  background-color: #1d1060;
}

.tNBA-CHI {
  color: #ce1141;
  background-color: #000000;
}

.tNBA-CLE {
  color: #860038;
  background-color: #bc945c;
}

.tNBA-DAL {
  color: #0064b1;
  background-color: #bbc4ca;
}

.tNBA-DEN {
  color: #0e2240;
  background-color: #fec524;
}

.tNBA-DET {
  color: #1d428a;
  background-color: #c8102e;
}

.tNBA-GS {
  color: #fdb927;
  background-color: #1d428a;
}

.tNBA-HOU {
  color: #ce1141;
  background-color: #000000;
}

.tNBA-IND {
  color: #002d62;
  background-color: #fdbb30;
}

.tNBA-LAC {
  color: #1d428a;
  background-color: #c8102e;
}

.tNBA-LAL {
  color: #552583;
  background-color: #fdb927;
}

.tNBA-MEM {
  color: #5d76a9;
  background-color: #12173f;
}

.tNBA-MIA {
  color: #98002e;
  background-color: #000000;
}

.tNBA-MIL {
  color: #00471b;
  background-color: #eee1c6;
}

.tNBA-MIN {
  color: #266092;
  background-color: #79bc43;
}

.tNBA-NO {
  color: #0a2240;
  background-color: #b4975a;
}

.tNBA-NY {
  color: #1d428a;
  background-color: #f58426;
}

.tNBA-OKC {
  color: #007ac1;
  background-color: #ef3b24;
}

.tNBA-ORL {
  color: #0077c0;
  background-color: #c4ced4;
}

.tNBA-PHI {
  color: #1d428a;
  background-color: #e01234;
}

.tNBA-PHX {
  color: #29127a;
  background-color: #e56020;
}

.tNBA-POR {
  color: #e03a3e;
  background-color: #000000;
}

.tNBA-SAC {
  color: #5a2d81;
  background-color: #6a7a82;
}

.tNBA-SA {
  color: #000000;
  background-color: #c4ced4;
}

.tNBA-TOR {
  color: #d91244;
  background-color: #000000;
}

.tNBA-UTAH {
  color: #000000;
  background-color: #fff21f;
}

.tNBA-WSH {
  color: #e31837;
  background-color: #002b5c;
}

.tMLB-ARI {
  color: #aa1f2e;
  background-color: #000000;
}

.tMLB-ATL {
  color: #0c2340;
  background-color: #ba0c2f;
}

.tMLB-BAL {
  color: #df4601;
  background-color: #000000;
}

.tMLB-BOS {
  color: #0d2b56;
  background-color: #bd3039;
}

.tMLB-CHC {
  color: #0e3386;
  background-color: #cc3433;
}

.tMLB-CHW {
  color: #000000;
  background-color: #c4ced4;
}

.tMLB-CIN {
  color: #c6011f;
  background-color: #ffffff;
}

.tMLB-CLE {
  color: #002b5c;
  background-color: #e31937;
}

.tMLB-COL {
  color: #33006f;
  background-color: #000000;
}

.tMLB-DET {
  color: #002d5c;
  background-color: #ff6600;
}

.tMLB-HOU {
  color: #002d62;
  background-color: #eb6e1f;
}

.tMLB-KC {
  color: #004687;
  background-color: #7ab2dd;
}

.tMLB-LAA {
  color: #ba0021;
  background-color: #c4ced4;
}

.tMLB-LAD {
  color: #005a9c;
  background-color: #ffffff;
}

.tMLB-MIA {
  color: #00a3e0;
  background-color: #000000;
}

.tMLB-MIL {
  color: #13294b;
  background-color: #ffc72c;
}

.tMLB-MIN {
  color: #031f40;
  background-color: #e20e32;
}

.tMLB-NYM {
  color: #002d72;
  background-color: #ff5910;
}

.tMLB-NYY {
  color: #132448;
  background-color: #c4ced4;
}

.tMLB-OAK {
  color: #006241;
  background-color: #efb21e;
}

.tMLB-PHI {
  color: #e81828;
  background-color: #003278;
}

.tMLB-PIT {
  color: #000000;
  background-color: #fdb827;
}

.tMLB-SD {
  color: #3e2312;
  background-color: #ffc425;
}

.tMLB-SF {
  color: #000000;
  background-color: #fd5a1e;
}

.tMLB-SEA {
  color: #005c5c;
  background-color: #0c2c56;
}

.tMLB-STL {
  color: #be0a14;
  background-color: #001541;
}

.tMLB-TB {
  color: #092c5c;
  background-color: #8fbce6;
}

.tMLB-TEX {
  color: #003278;
  background-color: #c0111f;
}

.tMLB-TOR {
  color: #134a8e;
  background-color: #6cace5;
}

.tMLB-WSH {
  color: #ab0003;
  background-color: #11225b;
}
